<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding><br><br>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"  name="nombre"></ion-input>
  </ion-item>
    <br><br>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="text" [(ngModel)]="email"  name="email"></ion-input>
  </ion-item>

  <br><br>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>

  <br>

  <ion-button expand="block" (click)="OnSubmitRegister()">Registrarse</ion-button>
  <br>
  <p text-center routerLink="/login">Ya tengo cuenta</p>
</ion-content>
