<ion-header >
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
    <br><br>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input [(ngModel)]="email" type="text" name="email"></ion-input>
  </ion-item>

  <br><br>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>

  <br>

  <ion-button expand="block" (click)="OnSumbitLogin()" color="tertiary">Entrar</ion-button>
  <br>
  <p text-center routerLink="/registro">Crear Cuenta</p>
</ion-content>
